<footer class="footer">
  <div class="contact">
    <p>Precisa falar com a gente?</p>
    <ul class="contact-list">
      <li>4005-0130</li>
      <img src="assets/social/Platform=WhatsApp, Color=Negative.svg" alt="" />
    </ul>
  </div>
  <div class="social">
    <p>Acesso nossas redes</p>
    <ul class="social-list">
      <li>
        <img
          src="assets/social/Platform=Facebook, Color=Negative.svg"
          alt=""
          srcset=""
        />
      </li>
      <li>
        <img
          src="assets/social/Platform=Instagram, Color=Negative.svg"
          alt=""
          srcset=""
        />
      </li>
      <li>
        <img
          src="assets/social/Platform=Telegram, Color=Negative.svg"
          alt=""
          srcset=""
        />
      </li>
      <li>
        <img
          src="assets/social/Platform=TikTok, Color=Negative.svg"
          alt=""
          srcset=""
        />
      </li>
      <li>
        <img
          src="assets/social/Platform=X (Twitter), Color=Negative.svg"
          alt=""
          srcset=""
        />
      </li>
    </ul>
  </div>
  <div class="about">
    <p>Sobre</p>
    <ul class="about-list"></ul>
  </div>
  <div class="pay-info">
    <p>Sobre valores</p>
    <ul class="pay-info-list"></ul>
  </div>
</footer>
