.carousel {
  background-color: var(--light-blue);
}

.title {
  font-weight: 600;
  color: var(--white);
  position: absolute;
  z-index: 99;
  bottom: 24px;
  margin: 0 16px;
  text-shadow: 1px 1px 5px var(--light-blue);
}
.active {
  position: relative;
}
.options {
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
@media (min-width: 768px) {
  .carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    margin: 0 84px;
  }
  .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  app-card-option:nth-child(2n + 1) {
    justify-self: end;
  }
  app-card-option:nth-child(2n) {
    justify-self: start;
  }
}
@media (min-width: 1024px) {
  .title {
    max-width: 24ch;
    top: 64px;
  }
}
