.options {
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
@media (min-width: 768px) {
  .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  app-card-option:nth-child(2n + 1) {
    justify-self: end;
  }
  app-card-option:nth-child(2n) {
    justify-self: start;
  }
}
