<section class="bg">
  <div class="container">
    <div class="professionals">
      <div class="specialty">
        <img
          class="specialty-icon"
          src="assets/icons/stethoscope_blue.svg"
          alt=""
        />
        <h2 class="specialty-title">
          Especialidades: {{ inicialDetails.specialty }}
        </h2>
      </div>
      @for (item of doctorArray; track $index) {
      <app-card-selection [doctorDetails]="item"></app-card-selection>
      }
      <div class="actions">
        <button class="btn" (click)="onBack()">Voltar</button>
      </div>
    </div>
  </div>
</section>
