.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  background-color: var(--dark-ice);
  width: 688px;
  padding: 10px;
  /* height: 96px; */
  border-radius: 16px;
  cursor: pointer;
}
.image-pic {
  border-radius: 100%;
  border: 1px solid var(--white);
  max-width: 68px;
}
.profile-name {
  font-size: 1.1rem;
  font-weight: 600;
}
.profile-crm {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--dark-gray);
}
.profile-address {
  font-size: 0.8rem;
  font-weight: 500;
}
.time {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 23px;
}
.time-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 28px;
  background-color: var(--gray);
  cursor: pointer;
}
.time-option:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}
.info {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.btn {
  color: var(--white);
  width: 128px;
  height: 48px;
  border-radius: 4px;
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--dark-blue);
}
.confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 62px 0px;
}
.confirmation-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
}
.actions {
  display: flex;
  gap: 28px;
}
.selected {
  background-color: var(--dark-blue);
}
