.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 62px;
  margin: 64px;
}
.user-signup {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.user-signup-title {
  font-size: 1rem;
}
.input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
label {
  font-weight: 600;
}

.next-btn {
  color: var(--white);
  width: 128px;
  height: 48px;
  background-color: var(--dark-blue);
  border-radius: 4px;
}
.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 42px;
}
input {
  background-color: var(--ice);
  border: 2px solid var(--light-blue);
  height: 38px;
  border-radius: 4px;
  width: 232px;
}
.data {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.input-field > .ng-touched.ng-invalid {
  border: 2px solid var(--purple);
}
.warning {
  background-color: var(--purple);
  padding: 14px;
}
.disabled {
  background-color: var(--gray);
}

@media (min-width: 1014px) {
  .container {
    background-color: var(--white);
    width: 716px;
    border-radius: 42px;
  }
  .bg {
    background-color: var(--ice);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px;
  }
}
