<section class="bg">
    <div class="container">
        <form class="form" [formGroup]="workerForm">
            <div class="worker-signup">
                <img class="worker-signup-icon" src="assets/icons/account.svg" alt="" />
                <h2 class="worker-signup-title">Cadastro: Preencha seus dados</h2>
            </div>
            <div class="data">
                <div class="input-field">
                    <label for="name">Nome completo</label>
                    <input type="text" id="name" formControlName="name" />
                </div>

                <div class="input-field">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" formControlName="email" />
                </div>
                <div class="input-field">
                    <label for="sector">Setor</label>
                    <input type="text" id="sector" formControlName="setor" />
                </div>
                <div class="input-field">
                    <label for="password">Senha</label>
                    <input type="password" id="password" formControlName="password" />
                </div>
                <div class="input-field">
                    <label for="confirmation">Confirmação de senha</label>
                    <input type="password" id="confirmation" formControlName="confirmation" />
                </div>
            </div>
            <div class="actions">
                <button class="next-btn" (click)="onConfirm()" [disabled]="workerForm.invalid"
                    [ngClass]="{disabled: workerForm.invalid}">
                    CONFIRMAR
                </button>
                @if (warning) {
                <p class="warning">As senhas não são iguais</p>
                }
            </div>
        </form>
    </div>
</section>