<section class="bg">
  <div class="container">
    <form class="form" [formGroup]="passwordForm">
      <div class="password">
        <img class="password-icon" src="assets/icons/myinfo.svg" alt="" />
        <h2 class="password-title">Atualização de senha</h2>
      </div>

      <div class="data">
        @if (warning) {
        <p class="warning">As senhas não são iguais</p>
        }
        <div class="input-field">
          <label for="password">Nova senha</label>
          <input
            type="password"
            name="password"
            id="password"
            formControlName="password"
          />
          <label for="confirmation">Confirmação de senha</label>
          <input
            type="password"
            name="confirmation"
            id="confirmation"
            formControlName="confirmation"
          />
        </div>
      </div>

      <div class="actions">
        <button class="btn" (click)="onBack()">Voltar</button>

        <button
          class="btn"
          [ngClass]="{ disabled: passwordForm.invalid }"
          (click)="onConfirm()"
        >
          Confirmar
        </button>
      </div>
    </form>
  </div>
</section>
