<div class="container" (click)="onExpand()">
  <div class="profile-pic">
    <img
      class="image-pic"
      src="/assets/91e5dfd9-20f6-496a-91b2-56e0ca58ccee 1.png"
      alt=""
      srcset=""
    />
  </div>
  <div class="info">
    <div class="profile-info">
      <p class="profile-name">Leslee Moss</p>
      <p class="profile-crm">CRM 442256</p>
      <p class="profile-address">Av. Paulista, 234, Bela Vista - SP</p>
    </div>
    @if (expand ) {
    <ul class="time">
      @for (item of availableTimes; track $index) {

      <li class="time-option">{{ item }}</li>
      }
    </ul>
    }
  </div>
</div>
