:root {
  --light-blue: #21a4f6;
  --purple: #c77dff;
  --dark-blue: #1d73ca;
  --green-blue: #1f89ca;
  --white: #fff;
  --black: #000;
  --ocean: #0fe3f2;
  --ice: #edf4f9;
  --gray: #d9d9d9;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0px;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  font-family: "Inter", serif;
}
