<section class="bg">
  <div class="container">
    <div class="agenda">
      <div class="agenda-header">
        <img class="agenda-icon" src="assets/icons/agenda.svg" alt="" />
        <h2 class="agenda-title">Minhas consultas</h2>
      </div>
      @if(agenda.length>0){

      <div class="data">
        @for (item of agenda; track $index) {
        <app-card-agenda [appointment]="item"></app-card-agenda>
        }
      </div>
      } @else{
      <div class="data">Não há agenda cadastrada.</div>
      }
      <div class="actions">
        <button class="back-btn" (click)="onBack()">Voltar</button>
      </div>
    </div>
  </div>
</section>
